<div id="footer" class="container-fluid">
<div class="container">
<div class="row">
    <footer>
        <div class="col-md-4 text-left">
            <a href="#">Privacy</a>
        </div>
        <div class="col-md-4">Copyright © {{ "now"|date("Y") }}  Nano Nagle School</div>
        <div class="col-md-4 text-right">
            <a href="/">
                {% set logo = imgUrl ~ "logo.png" %}
                <img src="{{ logo }}">
            </a>
        </div>
    </footer>
</div>
</div>
</div>