html, body {
    color: #333;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
}
h1 {}
h2 {color: #64c0ba;}
h3 {color: #7bb64c;}
.theater {
    min-height: 350px;
    background: 
                url(/../theme/nanonagle/assets/img/colorfuldivider.jpg) center bottom repeat-x,
                url(/../theme/nanonagle/assets/img/theaterbg.png) no-repeat center bottom
                #eff3b5;
}




/* --- CUSTOM NAV HEADER -----*/
.navbar { margin-bottom: 0; }
.navbar-default .navbar-brand {
    width: 200px;
    background-image: url(/../theme/nanonagle/assets/img/logo.png);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-default {
    background-color: #f1a91f;
    border-color: #eff3b5;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f1a91f;
    background-color: #eff3b5;
}