html, body {
    color: #333;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}


.theater {
    min-height: 350px;
    background-color: #eff3b5;
}




/* --- CUSTOM NAV HEADER -----*/
.navbar { margin-bottom: 0; }
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #ffffff;
}
.navbar-default {
    background-color: #f1a91f;
    border-color: #eff3b5;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f1a91f;
    background-color: #eff3b5;
}