html, body {
    color: #333;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}


.theater {
    min-height: 350px;
    background: #eff3b5 url("/../theme/nanonagle/assets/img/colorfuldivider.jpg") center bottom repeat-x;
}




/* --- CUSTOM NAV HEADER -----*/
.navbar { margin-bottom: 0; }
.navbar-default .navbar-brand {
    width: 200px;
    background-image: url(/../theme/nanonagle/assets/img/logo.png);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-default {
    background-color: #f1a91f;
    border-color: #eff3b5;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f1a91f;
    background-color: #eff3b5;
}